#root {
  width: 90%;
  margin: 0;
  padding: 2rem;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-text-field label{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0.5em;
}

.form-text-field label span {
  display: block;
  width: 30%;
}
.form-text-field label input{
  flex-grow: 1;
}

.container{
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}
.col {
  width: 33.33%;
  flex: 0 0 auto;
  padding: 1em;
}

.col ul li{
  list-style-type: none;
  border: 1px solid #949494;
  padding: 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.col ul li:hover{
  background-color: rgba(255,255,255,0.3);
}