* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	user-select: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
}

img {
	width: 100%;
	object-fit: contain;
	display: block;
}
